.header{
	width: 100%;
	background-color:aqua;
	font-size: 30pt;
	height: 20%;
	}
#logo{
	width: 20%;
	display: block;
	margin-left: auto;
    margin-right: auto;
	float: left;
}
#logoImg{
	height: 150px;
}
.title{
	width: 80%;
	font-size: 40pt;
	float: right;
	text-align: center;
	 
}
#titleText{
	vertical-align: top;
	}
.mainContent{
	height:100px;
	clear:left;
	}
.contactLine{
	font-size:10px;
}
.menu{
		clear:left;
}
.menuFloat{
	transform: scale(1);
	float:left;
	margin-left: 10px;
	width: 80px;
	text-align: center;
	background-color: #c0c0c0;
	padding: 5px;
    transition: all 1s;
    display : inline-block;
}
.menuFloat.animationZoomIn{
	transform : scale(0.9);
}
.menuSeparator{
	float:left;
	margin-left: 5px;
}
.pDiv{
	margin-left:7px;
	float:left;
	width: 10%;
	
}
.inputDiv{
	float: left;
	width: 20%;
	
	
}
.inputClass{
	float: left;
	margin: 9px;
}
.tableBooks{
	
	width: 60%;
	margin-left: 30%;
		
}

TD {
    padding: 4pt;
    border: 1px solid black;
}


